<div bsModal #supportEditFormModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-center">Editar Suporte</h4>
        <button type="button" class="close pull-right" (click)="supportEditFormModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form #supportEditForm="ngForm">

          <div class="form-group">
            <label for="title">Título</label>
            <input type="text" class="form-control" id="title" placeholder="Insira um título." required [(ngModel)]="title" name="titulo">
          </div>

          <div class="form-group">
            <div class="form-control-label">
              <label for="type">Tipo</label>
              <select id="type" name="formTipo" class="form-control" [(ngModel)]="type">
                <option *ngFor="let t of tipos" [ngValue]="t">{{ t }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="content">Conteudo</label>
            <div class="">
              <textarea id="content" name="conteudo" rows="4" class="form-control" placeholder="Insira o conteudo" required
                        [(ngModel)]="content" name="conteudo"></textarea>
            </div>
          </div>

          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!supportEditForm.form.valid" (click)="onSubmit()"><i class="fa fa-dot-circle-o"></i> Criar</button>
        </form>


      </div>
    </div>
  </div>
</div>

