<table class="table table-responsive table-hover table-outline mb-0">
  <thead class="thead-default">
    <tr>
      <th><h4 class="text-xs-center">Topicos {{curriculumId}}</h4></th>
    </tr>
  </thead>
  <tbody>

  <tr *ngFor="let topic of topics">
    <td>
      <div><h5>{{ topic?.title }}</h5></div>
      <div class="small text-muted">
      </div>
    </td>
    <td>
      <div class="text-xs-center">
        <button type="button" (click)="onSelect(topic)" class="btn btn-outline-primary btn-lg-4 btn-block">Ver</button>
      </div>
    </td>
  </tr>

  </tbody>
</table>
