<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <img src="assets/img/avatars/admin.png" class="img-avatar" style='height: 65%; width: 65%; margin-left:0px'/>
            <img/>
            <div class="row">
                <button type="button" style='margin-left:16px; margin-top:16px' class="btn btn-info btn-sm" (click)="callEdit()"> <i class="fa fa-pencil append-icon"></i> Editar dados</button>
            </div>
        </div>
        <div class="col">
            <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="icon-user mgr-10 profile-icon"></i> Dados</h3>
            <table style="width:80%; height:50%; margin-top:18px; margin-left:0px">
                <tbody>
                    <tr>
                        <td><b>Nome</b></td>
                        <td>{{ profile?.name }}</td>
                    </tr>
                    <tr>
                        <td><b>Usuário</b></td>
                        <td>{{ profile?.username }}</td>
                    </tr>
                    <tr>
                        <td><b>Email</b></td>
                        <td>{{ profile?.email }}</td>
                    </tr>
                    <tr>
                        <td><b>Categoria</b></td>
                        <td>{{ profile?.user_type }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table style="width:120%; height:50%; margin-top:45px">
                <tbody>
                    <tr>
                        <td><b>Instituição</b></td>
                        <td>Universidade Federal de Alagoas</td>
                    </tr>
                    <tr>
                        <td><b>Curso</b></td>
                        <td>Engenharia de Computação</td>
                    </tr>
                    <tr>
                        <td><b>Período</b></td>
                        <td>5°</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>