<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Registre-se</h1>
            <p class="text-muted">Crie sua conta</p>
            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" class="form-control" placeholder="Username" [(ngModel)]="this.username" name="inputUsername" #inputUsername="ngModel">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" placeholder="Email" [(ngModel)]="this.email" name="inputEmail"  #inputEmail="ngModel">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" class="form-control" placeholder="Password" [(ngModel)]="this.password" name="inputPassword"  #inputPassword="ngModel">
            </div>

            <div class="input-group mb-4">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" class="form-control" placeholder="Repeat password" [(ngModel)]="this.password2" name="inputPassword2"  #inputPassword2="ngModel">
            </div>
            <div *ngIf="error" *ngFor="let err of error" class="alert alert-danger">{{err}}</div>
            <button type="button" class="btn btn-block btn-success" (click)="register()">Create Account</button>
          </div>
          <!--<div class="card-footer p-4">-->
            <!--<div class="row">-->
              <!--<div class="col-6">-->
                <!--<button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>-->
              <!--</div>-->
              <!--<div class="col-6">-->
                <!--<button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
