<app-group-form></app-group-form>
   <div class="row">
     <div class="col-sm-12 col-md-12">
       <div class="card card-accent-primary">
         <div class="card-header">
           <div class="row">
             <h2 class="col-10 "> {{curriculum?.title}}</h2>
             <button type="button" class="btn btn-outline-success btn-smng serve"
                     tooltip="Criar nova turma a partir desse curriculo" (click)="gpModal.show()">
               <i class="fa fa-plus fa-lg"></i> Criar Turma
             </button>
           </div>
         </div>
         <div class="card-body">
           <h5>{{curriculum?.description}}</h5>
           <br>
           <div class="table-responsive"></div>
           <table class="table table-responsive table-hover table-outline mb-0">
             <thead class="thead-default">
             <tr>
               <th>Turmas</th>
               <th>Data Registrada</th>
               <th><button class="btn btn-outline-success btn-lg btn-block" (click)="lgModal.show()">Criar Turma</button></th>
             </tr>
             </thead>
             <tbody>
             <tr>
               <td>
                 <div>Turma 2016.2</div>
                 <div class="small text-muted">
                 </div>
               </td>
               <td>
                 20/06/2016
               </td>
               <td>
                 <div class="text-center">
                   <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ver</button>
                 </div>
               </td>
             </tr>
             </tbody>
           </table>
         </div>
        </div>
       </div>
     </div><!--/.col-->

   <!--/ MODAL - Criar Turma -->
   <app-group-form #gpModal></app-group-form>

   <!--/ MODAL -->
   <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-md">
       <div class="modal-content">
         <div class="modal-header">
           <h4 class="modal-title pull-center">Criar Turma</h4>
           <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <form  #groupForm="ngForm">
             <div class="form-group">
               <label for="titulo">Título</label>
               <input type="text" class="form-control" id="titulo" placeholder="Insira um título." required [(ngModel)]="titulo" name="titulo">
             </div>

             <button type="submit" class="btn btn-sm btn-primary" [disabled]="!groupForm.form.valid" (click)="onSubmit()"><i class="fa fa-dot-circle-o"></i> Cadastrar</button>
           </form>
         </div>
       </div>
     </div>
   </div>
