<div class="row">
 <div class="col-sm-12 col-md-12">
   <div class="card card-accent-primary">
     <div class="card-header">
       <div class="row">
         <h2 class="col-10 "> {{curriculum?.title}}</h2>
         <button type="button" class="btn btn-outline-success btn-smng serve"
                 tooltip="Criar nova turma a partir desse curriculo" (click)="gpModal.show()">
           <i class="fa fa-plus fa-lg"></i> Criar Turma
         </button>
       </div>
     </div>
     <div class="card-body">
       <h5>{{curriculum?.description}}</h5>
       <br>
       <app-topic-list></app-topic-list>
     </div>
    </div>
   </div>
 </div><!--/.col-->

   <!--/ MODAL - Criar Turma -->
   <app-group-form #gpModal></app-group-form>

   <!--/ MODAL CRIAR TOPICO-->

   <!--/ MODAL CRIAR TOPICO-->
