#button-group{
  margin-top: 11px;
  margin-right: 12px;
}

#button-delete-group{
  text-align: center;
}
#delete-button-yes {
 min-width: 100px;
}
#delete-button-no{
  min-width: 100px;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
