<div bsModal #qtModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myQuestionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-center">Criar Atividade</h4>
        <button type="button" class="close pull-right" (click)="hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  #questionForm="ngForm">

          <div class="form-group">
            <label for="title">Título</label>
            <input type="text" class="form-control" id="title" placeholder="Insira um título." required [(ngModel)]="title" name="titulo">
          </div>

          <div class="form-group">
            <label class="form-control-label" for="description">Descrição</label>
            <div class="">
              <textarea id="description" name="descricao" rows="4" class="form-control" placeholder="Descreva a atividade proposta." required
                        [(ngModel)]="description" name="descricao"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="form-control-label">
                <label for="topico">Tópico</label>
              <select id="topic" name="formTopic" class="form-control" [(ngModel)]="topicoSelecionado">
                <option *ngFor="let t of topics" [ngValue]="t">{{ t.title }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="form-control-label">
                <label for="tipo">Categoria</label>
              <select id="tipo" name="formTipo" class="form-control" [(ngModel)]="tipoAtividade">
                <option *ngFor="let t of tipos" [ngValue]="t">{{ t }}</option>
              </select>
            </div>
          </div>

          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!questionForm.form.valid" (click)="onSubmit()"><i class="fa fa-dot-circle-o"></i> Cadastrar</button>
        </form>
      </div>
  </div>
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!questionForm.form.valid" (click)="onSubmit()"><i class="fa fa-dot-circle-o"></i> Criar</button>
        </form>


      </div>
    </div>
  </div>
</div>
