<div class="container">
    <h3>Criação de Questionário</h3>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #quizForm="ngForm">
          <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" placeholder="Insira um título." required [(ngModel)]="titulo" name="titulo">
          </div>

          <div class="form-group">
            <label class="form-control-label" for="descricao">Descrição</label>
            <div class="">
              <textarea id="descricao" name="descricao" rows="4" class="form-control" placeholder="Descreva o conteúdo do questionário." required
              [(ngModel)]="descricao" name="descricao"></textarea>
            </div>
          </div>

          <div class="form-group">
              <label class="form-control-label" for="curriculum">Currículo</label>
              <div class="">
                <select [(ngModel)]="curriculums" id="curriculum" name="curriculum" class="form-control" required>
                  <option *ngFor="let c of curriculums" [value]="c">{{ c.titulo }}</option>
                </select>
              </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="topico">Tópico</label>
            <div class="">
              <select id="topico" name="topico" class="form-control">
                  <select [(ngModel)]="topics" id="topic" name="topic" class="form-control" required>
                    <option *ngFor="let t of topics" [value]="t">{{ t.titulo }}</option>
                  </select>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="atividades">Atividades</label>
            <div class="">
              <select id="atividades" name="atividades" class="form-control">
                <select [(ngModel)]="questions" id="question" name="question" class="form-control" required>
                    <option *ngFor="let q of questions" [value]="q">{{ q.titulo }}</option>
                </select>
              </select>
            </div>
          </div>

          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!quizForm.form.valid" (click)="onSubmit()"><i class="fa fa-dot-circle-o"></i> Cadastrar</button>
        </form>
      </div>
  </div>
