<div class="container">
    <h3>Criação de Questionário</h3>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #quizForm="ngForm">
          <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" placeholder="Insira um título." required [(ngModel)]="titulo" name="titulo">
          </div>

          <div class="form-group">
            <label class="form-control-label" for="descricao">Descrição</label>
            <div class="">
              <textarea id="descricao" name="descricao" rows="4" class="form-control" placeholder="Descreva o conteúdo do questionário." required
              [(ngModel)]="descricao" name="descricao"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="curriculum">Currículo</label>
            <div class="">
              <select id="curriculum" name="curriculum" class="form-control" required>
                <option value="" disabled>Selecione o currículo correspondente</option>
                <option value="1">Currículo #1</option>
                <option value="2">Currículo #2</option>
                <option value="3">Currículo #3</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="topico">Tópico</label>
            <div class="">
              <select id="topico" name="topico" class="form-control" required>
                <option value="" disabled>Selecione o tópico correspondente</option>
                <option value="1">Tópico #1</option>
                <option value="2">Tópico #2</option>
                <option value="3">Tópico #3</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="atividades">Atividades</label>
            <div class="">
              <select id="atividades" name="atividades" class="form-control" required>
                <option value="" disabled>Selecione as atividades que compõem o questionário</option>
                <option value="1">Atividade #1</option>
                <option value="2">Atividade #2</option>
                <option value="3">Atividade #3</option>
              </select>
            </div>
          </div>

          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!quizForm.form.valid" (click)="onSubmit()"><i class="fa fa-dot-circle-o"></i> Cadastrar</button>
        </form>
      </div>
  </div>
