.container-fluid{
  margin-left:0px;
  padding-left:0px
}

ul {
  margin-left:0px;
  padding-left:0px
}

#button-group{
  margin-top: 11px;
  margin-right: 12px;
}

#button-delete-group{
  text-align: center;
}

#delete-button-yes {
  min-width: 100px;
}

#delete-button-no{
  min-width: 100px;
}
