<div class="container-fluid">
  <h3>Atividades<br><br></h3>
  <ul *ngFor="let question of questions">
    <div class="card" style="width: 100%;">
      <h5 class="card-header">Titulo: {{ question?.title }}</h5>
      <div class="card-body">
        <p class="card-text">Autor: {{ question?.author }}</p>
        <p class="card-text">Curriculum: {{ question?.curriculum }}</p>
        <p class="card-text">Topico: {{ question?.topic?.title }}</p>
        <li href="#" (click) = "onSelect(question)" class="btn btn-primary">Ver</li>
      </div>
    </div>
  </ul>
</div>
