<div class="animated fadeIn">
  <div class="container">
    <h3>Currículos<br><br></h3>
    <ul *ngFor="let curriculum of curriculums">
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <div class="card">
            <h5 class="card-header">Titulo: {{ curriculum?.title }}</h5>
            <div class="card-body">
              <p class="card-text">Descrição: {{ curriculum?.description}}</p>
              <div id="view-curriculum-div">
                <li (click)="onSelect(curriculum)" class="btn btn-primary" id="view-curriculum-button">Ver</li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
